<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%- include('includes/nav.ejs') %>
    <main>
      <h1>My Products</h1>
      <p>List of all products...</p>
      <% if (prods.length > 0) { %>
        <div class="grid">
            <% for (let product of prods) { %>
                <article class="card product-item">
                <header class="card__header">
                    <h1 class="product__title"><%= product.title %></h1>
                </header>
                <div class="card__image">
                    <img
                    src="https://storage.naiin.com/system/application/bookstore/resource/product/202303/576258/1000260153_front_XXL.jpg?imgname=%E0%B9%80%E0%B8%A1%E0%B8%B7%E0%B9%88%E0%B8%AD%E0%B9%81%E0%B8%A1%E0%B8%A7%E0%B8%97%E0%B8%B5%E0%B9%88%E0%B8%9A%E0%B9%89%E0%B8%B2%E0%B8%99%E0%B8%84%E0%B8%B8%E0%B8%93%E0%B8%9C%E0%B8%B1%E0%B8%99%E0%B8%95%E0%B8%B1%E0%B8%A7%E0%B9%80%E0%B8%AD%E0%B8%87%E0%B8%A1%E0%B8%B2%E0%B9%80%E0%B8%9B%E0%B9%87%E0%B8%99%E0%B9%84%E0%B8%A5%E0%B8%9F%E0%B9%8C%E0%B9%82%E0%B8%84%E0%B9%89%E0%B8%8A"
                    alt="เมื่อแมวที่บ้านคุณผันตัวเองมาเป็นไลฟ์โค้ช"
                    />
                </div>
                <div class="card__content">
                    <h2 class="product__price">฿157.50</h2>
                    <p class="product__description">
                        นึกถึงตัวเองเป็นอันดับแรกไม่เคยเปรียบเทียบตัวเองกับใครไม่มานั่งกังวลเรื่องอดีตหรืออนาคตไม่ปล่อยให้เรื่องแย่
                        ๆ มาทำลายวันดี ๆใช้ชีวิตง่าย ๆ สบาย ๆ
                        แบบนี้เห็นจะมีแต่แมวเท่านั้น!พบกับ 40
                        คำแนะนำที่จะทำให้ชีวิตคุณเบาสบายขึ้นในทุก ๆ
                        ด้านจากไลฟ์โค้ชขนฟูที่อยู่เคียงข้างคุณมาตลอด
                    </p>
                </div>
                <div class="card__actions">
                    <div class="btn">Add to Cart</div>
                </div>
                </article>
            <% } %>
        </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    <%- include('includes/end.ejs') %>
